.meet-slider img {
  clip-path: circle(60%);
}



.meat-title.text-secondary~.line {
  background-color: var(--primary-red) !important;
}

.meat-title.text-secondary~.border {
  border-color: var(--primary-red) !important;
}

.meat-title.text-secondary~.border::after {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  content: "";
  display: block;
  background-color: var(--primary-red) !important;
}

.meet_section_info .meet-option_icon {
  border-color: #7A7878 !important;
  background-color: #f0f0f0;
}


.meet_section_info .active>.meet-option_icon {
  border-color: var(--primary-red) !important;
  background-color: var(--primary-red);
}

.meet_section_info .meat-title {
  color: #7A7878;
}

.meet-option.active .meat-title {
  color: var(--primary-red);
}


.meet_section_info .active>.meet-option_icon svg path {
  fill: white;
}

.first-place-item .first-place-item-img {
  transform: translateX(20px);
  transition-duration: 500ms;
}

.first-place-item:hover .first-place-item-img {
  transform: translateX(-10px) scale(1.1);
}

.first-place-item:hover .first-place-text {
  color: #000000;
}

.first-place-subitem:hover {
  background-color: var(--primary-red);
}

.first-place-subitem:hover>* {
  color: #fff;
}

.first-place-subitem>.icon {
  filter: brightness(100%);
}

.first-place-subitem:hover>.icon {
  filter: brightness(1000%);
}

.swiper-container {
  width: 80%;
  height: 30rem;
  margin: 0 auto;
}

.swiper-slide {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

.custom-arrow {
  position: relative !important;
  background-color: transparent !important;
  border: 2px solid #ccc !important;
  width: 3rem !important;
  height: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.certificate .custom-arrow {
  width: 4rem !important;
  height: 4rem !important;
}

.custom-arrow:hover {
  background-color: var(--primary-red) !important;
  border-color: var(--primary-red) !important;
  color: #ffffff !important;
}

.custom-arrow img {
  width: 50%;
  opacity: 0.6;
  filter: brightness(70%);
  transition: filter 150ms;
}

.custom-arrow:hover img {
  opacity: 1;
  filter: brightness(500%) !important;
}

.ceo-container {
  background: linear-gradient(180deg,
      rgba(240, 240, 240, 1) 60%,
      rgba(238, 50, 57, 1) 40%);
}

.about .splide__arrow {
  width: 4.5rem !important;
  height: 4.5rem !important;
}

.meat-section-image.turkey {
  padding-left: 50rem;
}

/* .meat-section-image.chicken {
} */

@media only screen and (min-width: 991px) {
  .certificate-container{
    height: calc(100% - 7rem);
  }
}

@media only screen and (max-width: 991px) {
  
  .mobileMeatSection {
    position: relative;
    width: 130vw;
    left: -15vw;
    height: 45vh;
    border-radius: 0 0 45vh 45vh;
    border-top-color: transparent !important;
  }

  .active-mobile-meat-type div svg path{
    fill: white;
  }

  .active-mobile-meat-type h4{
    color: var(--secondary-red) !important;
  }

  .active-mobile-meat-type div svg rect{
    fill: var(--secondary-red);
  }

  #mobileMeatSectionBanner {
    padding: 0 4rem 4rem 4rem;
    border-radius: 0 0 45vh 45vh;
  }

  .certificate .custom-arrow {
    width: 6rem !important;
    height: 6rem !important;
  }

  .swiper-container {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1910px) and (max-width: 1930px) and (min-height: 900px) and (max-height: 920px) {
  .meet-slider {
    height: 142vh !important;
  }
}