.meet-slider img {
  clip-path: circle(60%);
}

.meet-titles.text-primary ~ .line {
  background-color: var(--primary-red) !important;
}
.meet-titles.text-primary ~ .border {
  border-color: var(--primary-red) !important;
}
.meet-titles.text-primary ~ .border::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: "";
  display: block;
  background-color: var(--primary-red) !important;
}

.first-place-item .first-place-item-img {
  transform: translateX(20px);
  transition-duration: 500ms;
}
.first-place-item:hover .first-place-item-img {
  transform: translateX(-10px) scale(1.1);
}
.first-place-item:hover .first-place-text {
  color: #000000;
}
.first-place-subitem:hover {
  background-color: var(--primary-red);
}
.first-place-subitem:hover > * {
  color: #fff;
}
.first-place-subitem > .icon {
  filter: brightness(100%);
}
.first-place-subitem:hover > .icon {
  filter: brightness(1000%);
}

.swiper-container {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}

.swiper-slide {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

.custom-arrow {
  position: relative !important;
  background-color: transparent !important;
  border: 2px solid #ccc !important;
  width: 3rem !important;
  height: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.custom-arrow:hover {
  background-color: var(--primary-red) !important;
  border-color: var(--primary-red) !important;
  color: #ffffff !important;
}

.custom-arrow img {
  width: 50%;
  opacity: 0.6;
  filter: brightness(70%);
  transition: filter 150ms;
}

.custom-arrow:hover img {
  opacity: 1;
  filter: brightness(500%) !important;
}
.ceo-container {
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 1) 60%,
    rgba(238, 50, 57, 1) 40%
  );
}
