.contact-banner {
  background-image: url(/assets/images/contact/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-item:hover {
  padding-right: 60px;
}

.contact-item:hover .title {
  color: var(--secondary-red);
}

.contact-item:hover .icon {
  transform: translateX(30px);
  filter: brightness(100%);
}
.input:focus {
  border-color: #ccc !important;
}
@media only screen and (max-width: 991px) {
  .contact-item:hover {
    padding-right: 30px;
  }

  .contact-item:hover .title {
    color: var(--secondary-red);
  }

  .contact-item:hover .icon {
    transform: translateX(15px);
    filter: brightness(100%);
  }
}

@media only screen and (min-width: 991px) {
  .map-container::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100vh;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
  }
}

.map-container {
  background: url("/assets/images/contact/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
