.language-list > * {
  display: block;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.language-list > *:hover {
  color: var(--primary-red);
}
.fixed-section {
  background-attachment: fixed;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.more_btn.business-brands > img{
    filter: brightness(0%);
}

.more_btn.business-brands:hover > img{
    filter: brightness(100%);
}

.more_btn.services > img{
    filter: brightness(100%);
}

.more_btn.services:hover > img{
    filter: brightness(500%);
}

.fade-in-distributing {
  animation: fadeIn 1s forwards;
  z-index: 2;
  position: relative;
}

.world-map{
  transform: scale(0.8) translateY(50px);
}

.fade-in-distributing .world-map{
  transform: scale(1) translateY(0);
  transition: transform 1.5s ease-in;
}

.fade-out-distributing {
  animation: fadeOut 1.5s forwards;
  z-index: 1;
  position: absolute;
}

.first-world-img{
  transform: scale(0.8) translateY(50px);
}

.fade-out-distributing .first-world-img{
  transform: scale(1) translateY(0);
  transition: transform 1.5s ease-in;
}

.first-place-item .first-place-item-img{
  transform: translateX(20px);
  transition-duration: 500ms;
}
.first-place-item:hover .first-place-item-img{
  transform: translateX(-10px) scale(1.1);
}
.first-place-item:hover .first-place-text{
  color: #000000;
}
.first-place-subitem:hover{
  background-color: var(--primary-red);
}
.first-place-subitem:hover > *{
  color: #FFF;
}
.first-place-subitem > .icon{
  filter: brightness(100%);
}
.first-place-subitem:hover > .icon{
  filter: brightness(1000%);
}
.slide-up-animation{
  animation: fadeIn 1s forwards;
}

.slide-down-animation{
  animation: fadeOut 1s forwards;
}

.partner_section{
  background-image: url(/assets/images/@core/partner_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F0F0F0;
  height: calc(100vh - 100px);
}

.partners_list::-webkit-scrollbar {
  width: 0;
}
.splide-home-partners {
  transition: transform 0.5s ease-in-out;
}

.partner_section_title{
  transition: opacity 0.48s ease-in;
}
.splide-home-partners:hover ~ .partner_section_title {
  opacity: 0;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(180px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s ease forwards; 
}