:root {
  --primary-red: #ee3239;
  --secondary-red: #ed1c24;
  --swiper-theme-color: #fff !important;
  --swiper-pagination-color: var(--primary-red);
  --swiper-pagination-bullet-inactive-color: #ffff;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1.65rem;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 330px) and (max-height: 600px) {
  html {
    font-size: 30%;
  }
}

[multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus {
  --tw-ring-inset: none !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #ccc !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: #ccc !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

::selection {
  background: var(--primary-red);
  color: #fff;
}

@font-face {
  font-family: "Myanmar Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myanmar Text Regular"),
    url("/assets/fonts/mmrtext.woff") format("woff");
}

@font-face {
  font-family: "Myanmar Text Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Myanmar Text Bold"),
    url("/assets/fonts/mmrtextb.woff") format("woff");
}

.font-myanmar {
  font-family: "Myanmar Text Regular";
}

.font-myanmar-bold {
  font-family: "Myanmar Text Bold";
}
.fp-overflow {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100%;
}

.fp-warning,
.fp-watermark {
  display: none !important;
}

.splide__arrow {
  transform: translateY(0) !important;
}
.swiper-pagination-bullet {
  padding: 0.5rem;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
}
